{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "AllowUserIamUserToAssume",
      "Effect": "Allow",
      "Principal": { "AWS": "{{USER_PRINCIPAL_ARN}}" },
      "Action": "sts:AssumeRole"
    }
  ]
}
